services:
  # Servicio de Base de Datos MySQL 
  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: dev
      MYSQL_USER: devuser
      MYSQL_PASSWORD: devpassword
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - devnet


  # Servicio de Backend usando PHP con Apache, sirviendo simplemente
  # el contenido de la carpeta backend en el puerto 9000
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "9000:80"
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - db
    networks:
      - devnet

networks:
  devnet:
    driver: bridge

volumes:
  db_data: