/* ==> Para los Cards del Dashboard */
.dashboard-card {
    background-color: #bfbfbf33;
    border: 0px;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-card 
input.form-control
textarea.form-control
{
    border: 1px solid #cdcdcd;
}
